block variables

doctype html 
html(lang="en")
    head   
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
        base(href='/')

        title=meta.data.title

        meta(name="description" content=meta.data.description)

        // fav icon svg
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
        link(rel="manifest" href="/site.webmanifest")
        link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#fbf7ec")
        meta(name="msapplication-TileColor" content="#fbf7ec")
        meta(name="theme-color" content="#fbf7ec")
        
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet")
        link(href="main.css" rel="stylesheet")

        //facebook
        meta(property="og:type" content="website")
        meta(property="og:title" content=meta.data.title)
        meta(property="og:description" content=meta.data.description)
        meta(property="og:image" content=meta.data.image ? meta.data.image.url : '')
        //twitter
        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:title" content=meta.data.title)
        meta(name="twitter:description" content=meta.data.description)
        meta(name="twitter:image" content=meta.data.image ? meta.data.image.url : '')

    body
        include ./partials/preloader
        include ./partials/navigation

        .content#content(data-template=template)
            block content
    


